# TASK1

In [16]:
pip install xmlschema

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: xmlschema in /usr/local/lib/python3.7/dist-packages (2.0.2)
Requirement already satisfied: elementpath<4.0.0,>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from xmlschema) (3.0.2)

In [17]:
import xmlschema
import pandas as pd
from pprint import pprint

In [18]:
xs = xmlschema.XMLSchema('HSCOrgRefData.xsd')
dict_xs=xs.to_dict('Sample_file.xml')
# pprint(dict_xs)
to_convert_to_df = dict_xs['Organisations']
pprint(to_convert_to_df)

{'Organisation': [{'@orgRecordClass': 'RC2',
                   'Date': [{'End': {'@value': '2013-03-31'},
                             'Start': {'@value': '2006-10-01'},
                             'Type': {'@value': 'Legal'}},
                            {'Start': {'@value': '2006-10-01'},
                             'Type': {'@value': 'Operational'}}],
                   'GeoLoc': {'Location': {'AddrLn1': 'HIGHLAND ROAD',
                                           'Country': 'ENGLAND',
                                           'County': 'HAMPSHIRE',
                                           'PostCode': 'PO4 9HU',
                                           'Town': 'SOUTHSEA',
                                           'UPRN': Decimal('1775039729')}},
                   'LastChangeDate': {'@value': '2021-03-26'},
                   'Name': 'EASTNEY HEALTH CENTRE',
                   'OrgId': {'@assigningAuthorityName': 'HSCIC',
                             '@extension': '5QCAH',
                             '@root': '2.16.840.1.113883.2.1.3.2.4.18.48'},
                   'Rels': {'Rel': [{'@id': 'RE6',
                                     '@uniqueRelId': Decimal('178089'),
                                     'Date': [{'End': {'@value': '2013-03-31'},
                                               'Start': {'@value': '2006-10-01'},
                                               'Type': {'@value': 'Legal'}},
                                              {'End': {'@value': '2020-09-30'},
                                               'Start': {'@value': '2006-10-01'},
                                               'Type': {'@value': 'Operational'}}],
                                     'Status': {'@value': 'Inactive'},
                                     'Target': {'OrgId': {'@assigningAuthorityName': 'HSCIC',
                                                          '@extension': '5QC',
                                                          '@root': '2.16.840.1.113883.2.1.3.2.4.18.48'},
                                                'PrimaryRoleId': {'@id': 'RO179',
                                                                  '@uniqueRoleId': Decimal('137676')}}}]},
                   'Roles': {'Role': [{'@id': 'RO180',
                                       '@primaryRole': True,
                                       '@uniqueRoleId': Decimal('5785'),
                                       'Date': [{'End': {'@value': '2013-03-31'},
                                                 'Start': {'@value': '2006-10-01'},
                                                 'Type': {'@value': 'Legal'}},
                                                {'Start': {'@value': '2006-10-01'},
                                                 'Type': {'@value': 'Operational'}}],
                                       'Status': {'@value': 'Active'}}]},
                   'Status': {'@value': 'Active'},
                   'Succs': {'Succ': [{'@uniqueSuccId': Decimal('171'),
                                       'Date': {'Start': {'@value': '2006-10-01'},
                                                'Type': {'@value': 'Legal'}},
                                       'Target': {'OrgId': {'@assigningAuthorityName': 'HSCIC',
                                                            '@extension': '5FD51',
                                                            '@root': '2.16.840.1.113883.2.1.3.2.4.18.48'},
                                                  'PrimaryRoleId': {'@id': 'RO180',
                                                                    '@uniqueRoleId': Decimal('44844')}},
                                       'Type': 'Predecessor'}]}},
                  {'@orgRecordClass': 'RC2',
                   'Date': [{'End': {'@value': '2013-03-31'},
                             'Start': {'@value': '2006-10-01'},
                             'Type': {'@value': 'Legal'}},
                            {'Start': {'@value': '2006-10-01'},
                             'Type': {'@value': 'Operational'}}],
                   'GeoLoc': {'Location': {'AddrLn1': 'VILLIERS ROAD',
                                           'Country': 'ENGLAND',
                                           'County': 'HAMPSHIRE',
                                           'PostCode': 'PO5 2HG',
                                           'Town': 'SOUTHSEA'}},
                   'LastChangeDate': {'@value': '2021-03-26'},
                   'Name': 'MERLIN CENTRE',
                   'OrgId': {'@assigningAuthorityName': 'HSCIC',
                             '@extension': '5QCAJ',
                             '@root': '2.16.840.1.113883.2.1.3.2.4.18.48'},
                   'Rels': {'Rel': [{'@id': 'RE6',
                                     '@uniqueRelId': Decimal('177836'),
                                     'Date': [{'End': {'@value': '2013-03-31'},
                                               'Start': {'@value': '2006-10-01'},
                                               'Type': {'@value': 'Legal'}},
                                              {'End': {'@value': '2020-09-30'},
                                               'Start': {'@value': '2006-10-01'},
                                               'Type': {'@value': 'Operational'}}],
                                     'Status': {'@value': 'Inactive'},
                                     'Target': {'OrgId': {'@assigningAuthorityName': 'HSCIC',
                                                          '@extension': '5QC',
                                                          '@root': '2.16.840.1.113883.2.1.3.2.4.18.48'},
                                                'PrimaryRoleId': {'@id': 'RO179',
                                                                  '@uniqueRoleId': Decimal('137676')}}}]},
                   'Roles': {'Role': [{'@id': 'RO180',
                                       '@primaryRole': True,
                                       '@uniqueRoleId': Decimal('5786'),
                                       'Date': [{'End': {'@value': '2013-03-31'},
                                                 'Start': {'@value': '2006-10-01'},
                                                 'Type': {'@value': 'Legal'}},
                                                {'Start': {'@value': '2006-10-01'},
                                                 'Type': {'@value': 'Operational'}}],
                                       'Status': {'@value': 'Active'}}]},
                   'Status': {'@value': 'Active'},
                   'Succs': {'Succ': [{'@uniqueSuccId': Decimal('1064'),
                                       'Date': {'Start': {'@value': '2006-10-01'},
                                                'Type': {'@value': 'Legal'}},
                                       'Target': {'OrgId': {'@assigningAuthorityName': 'HSCIC',
                                                            '@extension': '5FD54',
                                                            '@root': '2.16.840.1.113883.2.1.3.2.4.18.48'},
                                                  'PrimaryRoleId': {'@id': 'RO180',
                                                                    '@uniqueRoleId': Decimal('44845')}},
                                       'Type': 'Predecessor'}]}},
                  {'@orgRecordClass': 'RC2',
                   'Date': [{'End': {'@value': '2013-03-31'},
                             'Start': {'@value': '2006-10-01'},
                             'Type': {'@value': 'Legal'}},
                            {'Start': {'@value': '2006-10-01'},
                             'Type': {'@value': 'Operational'}}],
                   'GeoLoc': {'Location': {'AddrLn1': 'BATTENBURG AVENUE',
                                           'Country': 'ENGLAND',
                                           'County': 'HAMPSHIRE',
                                           'PostCode': 'PO2 0TA',
                                           'Town': 'PORTSMOUTH',
                                           'UPRN': Decimal('1775099216')}},
                   'LastChangeDate': {'@value': '2021-03-26'},
                   'Name': 'BATTENBURG AVENUE CLINIC',
                   'OrgId': {'@assigningAuthorityName': 'HSCIC',
                             '@extension': '5QCAK',
                             '@root': '2.16.840.1.113883.2.1.3.2.4.18.48'},
                   'Rels': {'Rel': [{'@id': 'RE6',
                                     '@uniqueRelId': Decimal('177889'),
                                     'Date': [{'End': {'@value': '2013-03-31'},
                                               'Start': {'@value': '2006-10-01'},
                                               'Type': {'@value': 'Legal'}},
                                              {'End': {'@value': '2020-09-30'},
                                               'Start': {'@value': '2006-10-01'},
                                               'Type': {'@value': 'Operational'}}],
                                     'Status': {'@value': 'Inactive'},
                                     'Target': {'OrgId': {'@assigningAuthorityName': 'HSCIC',
                                                          '@extension': '5QC',
                                                          '@root': '2.16.840.1.113883.2.1.3.2.4.18.48'},
                                                'PrimaryRoleId': {'@id': 'RO179',
                                                                  '@uniqueRoleId': Decimal('137676')}}}]},
                   'Roles': {'Role': [{'@id': 'RO180',
                                       '@primaryRole': True,
                                       '@uniqueRoleId': Decimal('5787'),
                                       'Date': [{'End': {'@value': '2013-03-31'},
                                                 'Start': {'@value': '2006-10-01'},
                                                 'Type': {'@value': 'Legal'}},
                                                {'Start': {'@value': '2006-10-01'},
                                                 'Type': {'@value': 'Operational'}}],
                                       'Status': {'@value': 'Active'}}]},
                   'Status': {'@value': 'Active'},
                   'Succs': {'Succ': [{'@uniqueSuccId': Decimal('2658'),
                                       'Date': {'Start': {'@value': '2006-10-01'},
                                                'Type': {'@value': 'Legal'}},
                                       'Target': {'OrgId': {'@assigningAuthorityName': 'HSCIC',
                                                            '@extension': '5FD55',
                                                            '@root': '2.16.840.1.113883.2.1.3.2.4.18.48'},
                                                  'PrimaryRoleId': {'@id': 'RO180',
                                                                    '@uniqueRoleId': Decimal('44846')}},
                                       'Type': 'Predecessor'}]}}]}

In [19]:
df=pd.DataFrame.from_dict(to_convert_to_df)

df1 = pd.DataFrame(df.Organisation.values.tolist())
df1 = df1.drop(['Roles','Rels','Succs','@orgRecordClass','LastChangeDate'], axis=1)
df1

,Name,Date,OrgId,Status,GeoLoc
0,EASTNEY HEALTH CENTRE,"[{'Type': {'@value': 'Legal'}, 'Start': {'@val...","{'@root': '2.16.840.1.113883.2.1.3.2.4.18.48',...",{'@value': 'Active'},"{'Location': {'AddrLn1': 'HIGHLAND ROAD', 'Tow..."
1,MERLIN CENTRE,"[{'Type': {'@value': 'Legal'}, 'Start': {'@val...","{'@root': '2.16.840.1.113883.2.1.3.2.4.18.48',...",{'@value': 'Active'},"{'Location': {'AddrLn1': 'VILLIERS ROAD', 'Tow..."
2,BATTENBURG AVENUE CLINIC,"[{'Type': {'@value': 'Legal'}, 'Start': {'@val...","{'@root': '2.16.840.1.113883.2.1.3.2.4.18.48',...",{'@value': 'Active'},"{'Location': {'AddrLn1': 'BATTENBURG AVENUE', ..."

In [20]:
df2 = pd.concat([df1, df1.OrgId.apply(lambda x: pd.Series(x))], axis=1)
df2 = df2.drop(['OrgId','@root','@assigningAuthorityName'],axis=1)
df2= df2.rename(columns={"@extension": "OrgId"})
df2

,Name,Date,Status,GeoLoc,OrgId
0,EASTNEY HEALTH CENTRE,"[{'Type': {'@value': 'Legal'}, 'Start': {'@val...",{'@value': 'Active'},"{'Location': {'AddrLn1': 'HIGHLAND ROAD', 'Tow...",5QCAH
1,MERLIN CENTRE,"[{'Type': {'@value': 'Legal'}, 'Start': {'@val...",{'@value': 'Active'},"{'Location': {'AddrLn1': 'VILLIERS ROAD', 'Tow...",5QCAJ
2,BATTENBURG AVENUE CLINIC,"[{'Type': {'@value': 'Legal'}, 'Start': {'@val...",{'@value': 'Active'},"{'Location': {'AddrLn1': 'BATTENBURG AVENUE', ...",5QCAK

In [21]:
df3 = pd.concat([df2, df2.Date.apply(lambda x: pd.Series(x))], axis=1)
df3 = df3.drop('Date',axis=1)
df3

,Name,Status,GeoLoc,OrgId,0,1
0,EASTNEY HEALTH CENTRE,{'@value': 'Active'},"{'Location': {'AddrLn1': 'HIGHLAND ROAD', 'Tow...",5QCAH,"{'Type': {'@value': 'Legal'}, 'Start': {'@valu...","{'Type': {'@value': 'Operational'}, 'Start': {..."
1,MERLIN CENTRE,{'@value': 'Active'},"{'Location': {'AddrLn1': 'VILLIERS ROAD', 'Tow...",5QCAJ,"{'Type': {'@value': 'Legal'}, 'Start': {'@valu...","{'Type': {'@value': 'Operational'}, 'Start': {..."
2,BATTENBURG AVENUE CLINIC,{'@value': 'Active'},"{'Location': {'AddrLn1': 'BATTENBURG AVENUE', ...",5QCAK,"{'Type': {'@value': 'Legal'}, 'Start': {'@valu...","{'Type': {'@value': 'Operational'}, 'Start': {..."

In [22]:
df4 = pd.concat([df3, df3[0].apply(lambda x: pd.Series(x))], axis=1)
df4 = df4.drop([0,'Type'],axis=1)
df4

,Name,Status,GeoLoc,OrgId,1,Start,End
0,EASTNEY HEALTH CENTRE,{'@value': 'Active'},"{'Location': {'AddrLn1': 'HIGHLAND ROAD', 'Tow...",5QCAH,"{'Type': {'@value': 'Operational'}, 'Start': {...",{'@value': '2006-10-01'},{'@value': '2013-03-31'}
1,MERLIN CENTRE,{'@value': 'Active'},"{'Location': {'AddrLn1': 'VILLIERS ROAD', 'Tow...",5QCAJ,"{'Type': {'@value': 'Operational'}, 'Start': {...",{'@value': '2006-10-01'},{'@value': '2013-03-31'}
2,BATTENBURG AVENUE CLINIC,{'@value': 'Active'},"{'Location': {'AddrLn1': 'BATTENBURG AVENUE', ...",5QCAK,"{'Type': {'@value': 'Operational'}, 'Start': {...",{'@value': '2006-10-01'},{'@value': '2013-03-31'}

In [23]:
df5 = pd.concat([df4, df4.Start.apply(lambda x: pd.Series(x))], axis=1)
df5 = df5.drop('Start',axis=1)
df5 = df5.rename(columns={"@value": "Legal_Start_Date"})
df5

,Name,Status,GeoLoc,OrgId,1,End,Legal_Start_Date
0,EASTNEY HEALTH CENTRE,{'@value': 'Active'},"{'Location': {'AddrLn1': 'HIGHLAND ROAD', 'Tow...",5QCAH,"{'Type': {'@value': 'Operational'}, 'Start': {...",{'@value': '2013-03-31'},2006-10-01
1,MERLIN CENTRE,{'@value': 'Active'},"{'Location': {'AddrLn1': 'VILLIERS ROAD', 'Tow...",5QCAJ,"{'Type': {'@value': 'Operational'}, 'Start': {...",{'@value': '2013-03-31'},2006-10-01
2,BATTENBURG AVENUE CLINIC,{'@value': 'Active'},"{'Location': {'AddrLn1': 'BATTENBURG AVENUE', ...",5QCAK,"{'Type': {'@value': 'Operational'}, 'Start': {...",{'@value': '2013-03-31'},2006-10-01

In [24]:
df6 = pd.concat([df5, df5.End.apply(lambda x: pd.Series(x))], axis=1)
df6 = df6.drop('End',axis=1)
df6 = df6.rename(columns={"@value": "Legal_End_Date"})
df6

,Name,Status,GeoLoc,OrgId,1,Legal_Start_Date,Legal_End_Date
0,EASTNEY HEALTH CENTRE,{'@value': 'Active'},"{'Location': {'AddrLn1': 'HIGHLAND ROAD', 'Tow...",5QCAH,"{'Type': {'@value': 'Operational'}, 'Start': {...",2006-10-01,2013-03-31
1,MERLIN CENTRE,{'@value': 'Active'},"{'Location': {'AddrLn1': 'VILLIERS ROAD', 'Tow...",5QCAJ,"{'Type': {'@value': 'Operational'}, 'Start': {...",2006-10-01,2013-03-31
2,BATTENBURG AVENUE CLINIC,{'@value': 'Active'},"{'Location': {'AddrLn1': 'BATTENBURG AVENUE', ...",5QCAK,"{'Type': {'@value': 'Operational'}, 'Start': {...",2006-10-01,2013-03-31

In [25]:
df7 = pd.concat([df6, df6[1].apply(lambda x: pd.Series(x))], axis=1)
df7 = df7.drop([1,'Type'],axis=1)
df7

,Name,Status,GeoLoc,OrgId,Legal_Start_Date,Legal_End_Date,Start
0,EASTNEY HEALTH CENTRE,{'@value': 'Active'},"{'Location': {'AddrLn1': 'HIGHLAND ROAD', 'Tow...",5QCAH,2006-10-01,2013-03-31,{'@value': '2006-10-01'}
1,MERLIN CENTRE,{'@value': 'Active'},"{'Location': {'AddrLn1': 'VILLIERS ROAD', 'Tow...",5QCAJ,2006-10-01,2013-03-31,{'@value': '2006-10-01'}
2,BATTENBURG AVENUE CLINIC,{'@value': 'Active'},"{'Location': {'AddrLn1': 'BATTENBURG AVENUE', ...",5QCAK,2006-10-01,2013-03-31,{'@value': '2006-10-01'}

In [26]:
df8 = pd.concat([df7, df7.Start.apply(lambda x: pd.Series(x))], axis=1)
df8 = df8.drop('Start',axis=1)
df8 = df8.rename(columns={"@value": "Operational_Start_Date"})
df8

,Name,Status,GeoLoc,OrgId,Legal_Start_Date,Legal_End_Date,Operational_Start_Date
0,EASTNEY HEALTH CENTRE,{'@value': 'Active'},"{'Location': {'AddrLn1': 'HIGHLAND ROAD', 'Tow...",5QCAH,2006-10-01,2013-03-31,2006-10-01
1,MERLIN CENTRE,{'@value': 'Active'},"{'Location': {'AddrLn1': 'VILLIERS ROAD', 'Tow...",5QCAJ,2006-10-01,2013-03-31,2006-10-01
2,BATTENBURG AVENUE CLINIC,{'@value': 'Active'},"{'Location': {'AddrLn1': 'BATTENBURG AVENUE', ...",5QCAK,2006-10-01,2013-03-31,2006-10-01

In [27]:
df9 = pd.concat([df8, df8.Status.apply(lambda x: pd.Series(x))], axis=1)
df9 = df9.drop('Status',axis=1)
df9 = df9.rename(columns={"@value": "Status"})
df9

,Name,GeoLoc,OrgId,Legal_Start_Date,Legal_End_Date,Operational_Start_Date,Status
0,EASTNEY HEALTH CENTRE,"{'Location': {'AddrLn1': 'HIGHLAND ROAD', 'Tow...",5QCAH,2006-10-01,2013-03-31,2006-10-01,Active
1,MERLIN CENTRE,"{'Location': {'AddrLn1': 'VILLIERS ROAD', 'Tow...",5QCAJ,2006-10-01,2013-03-31,2006-10-01,Active
2,BATTENBURG AVENUE CLINIC,"{'Location': {'AddrLn1': 'BATTENBURG AVENUE', ...",5QCAK,2006-10-01,2013-03-31,2006-10-01,Active

In [28]:
df10 = pd.concat([df9, df9.GeoLoc.apply(lambda x: pd.Series(x))], axis=1)
df10 = df10.drop('GeoLoc',axis=1)
df10

,Name,OrgId,Legal_Start_Date,Legal_End_Date,Operational_Start_Date,Status,Location
0,EASTNEY HEALTH CENTRE,5QCAH,2006-10-01,2013-03-31,2006-10-01,Active,"{'AddrLn1': 'HIGHLAND ROAD', 'Town': 'SOUTHSEA..."
1,MERLIN CENTRE,5QCAJ,2006-10-01,2013-03-31,2006-10-01,Active,"{'AddrLn1': 'VILLIERS ROAD', 'Town': 'SOUTHSEA..."
2,BATTENBURG AVENUE CLINIC,5QCAK,2006-10-01,2013-03-31,2006-10-01,Active,"{'AddrLn1': 'BATTENBURG AVENUE', 'Town': 'PORT..."

In [29]:
df11 = pd.concat([df10, df10.Location.apply(lambda x: pd.Series(x))], axis=1)
df11 = df11.drop('Location',axis=1)
df11

,Name,OrgId,Legal_Start_Date,Legal_End_Date,Operational_Start_Date,Status,AddrLn1,Town,County,PostCode,Country,UPRN
0,EASTNEY HEALTH CENTRE,5QCAH,2006-10-01,2013-03-31,2006-10-01,Active,HIGHLAND ROAD,SOUTHSEA,HAMPSHIRE,PO4 9HU,ENGLAND,1775039729
1,MERLIN CENTRE,5QCAJ,2006-10-01,2013-03-31,2006-10-01,Active,VILLIERS ROAD,SOUTHSEA,HAMPSHIRE,PO5 2HG,ENGLAND,NaN
2,BATTENBURG AVENUE CLINIC,5QCAK,2006-10-01,2013-03-31,2006-10-01,Active,BATTENBURG AVENUE,PORTSMOUTH,HAMPSHIRE,PO2 0TA,ENGLAND,1775099216

In [30]:
final_df = df11.copy()
final_df.dtypes

Name                      object
OrgId                     object
Legal_Start_Date          object
Legal_End_Date            object
Operational_Start_Date    object
Status                    object
AddrLn1                   object
Town                      object
County                    object
PostCode                  object
Country                   object
UPRN                      object
dtype: object